MODEL=gpt-4o
TEMPERATURE=0.3
MAX_TOKENS=4096
BASE_URL=https://litellm.com.ai/v1
PROVIDER=openai

OPENAI_API_KEY=token
OPENAI_API_BASE=https://litellm.com.ai/v1


GITHUB_TOKEN=
GITHUB_REPO=user_or_org/repo

REDIS_URL="redis://memory_cache:6379/0"

POSTGRES_USER=ai_memory
POSTGRES_PASSWORD=ai_secret
POSTGRES_DB=chroma_memory

LANGSMITH_TRACING="true"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="multi-agent-dev"

